<!DOCTYPE html>
<html>
<head>
    <title>Event Logs</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Event Logs</h1>
    <table>
        <tr><th>ID</th><th>Timestamp</th><th>Action</th><th>Details</th></tr>
        {% for event in events %}
        <tr><td>{{ event[0] }}</td><td>{{ event[1] }}</td><td>{{ event[2] }}</td><td>{{ event[3] }}</td></tr>
        {% endfor %}
    </table>
    <p><a href="/">Back to Home</a></p>
</body>
</html>